<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOG 03-hands-on</title>
</head>
<body>
    <h1>DOG</h1>
    <ul>
        <li>
            <a href="/home">HOME</a>
        </li>
        <li>
            <a href="/me">ME</a>
        </li>
    </ul>
</body>
</html>