<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ME 03-hands-on</title>
</head>
<body>
    <h1>ME</h1>
    <ul>
        <li>
            <a href="/home">HOME</a>
        </li>
        <li>
            <a href="/dog">DOG</a>
        </li>
    </ul>
</body>
</html>